.container {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-bottom: 2rem;
  height: 2.5rem;

  padding: 0 1rem;
  margin-top: 0.5rem;
}

.userpic {
  border-radius: 50%;
  height: 100%;
  padding-right: 0.5rem;
}
.logout {
  padding-right: 1rem;
  margin-top: 0.7rem;
}
