.container {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-bottom: 2rem;
  height: 2.5rem;

  padding: 0 1rem;
}
.navitem {
  padding: 0.8rem;
}
.navitem:active,
.navitem:link {
  text-decoration: none;
  color: black;
}
.navitem:hover {
  color: orangered;
}
.userpic {
  border-radius: 50%;
  height: 100%;
  padding-right: 0.5rem;
}
.logout {
  padding: 0 0.5rem;
  cursor: pointer;
}
