.container {
  padding: 0 1rem;
  margin-top: 0.5rem;
}
.navitem {
  padding: 1rem;
}
.navitem:link,
.navitem:active {
  text-decoration: none;
  color: red;
}
.userpic {
  border-radius: 50%;
  height: 100%;
  padding-right: 0.5rem;
}
.logout {
  padding-right: 1rem;
  margin-top: 0.7rem;
}
